/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
  height: calc(100% - 40px);
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  background: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}
.page-container {
  min-height: 75vh;
}
/* LOADER */
.loader-css {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  padding-top: 1rem;
}
.loader-css:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #1977F3;
  border-color: #1977F3 transparent #1977F3 transparent;
  animation: loader-spin 1.2s linear infinite;
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.footer-coming {
  background: #F8F8F8;
  padding: 1rem;
  text-align: center;
}
.footer-coming h5 {
  color: #909090;
  font-size: 0.9rem;
  font-weight: 600;
}
/* --------------------------------------------------------------
3.- COMING SOON
-------------------------------------------------------------- */
.coming-soon-container {
  position: relative;
  background: url(../images/lines.png);
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: calc(100vh - 90px);
  padding: 3rem;
  padding: 10vh 3rem;
  text-align: center;
  overflow: hidden;
}
.coming-soon-container:before {
  content: '';
  position: absolute;
  background: url(../images/frame1.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  height: 400px;
  width: 400px;
}
.coming-soon-container:after {
  content: '';
  position: absolute;
  background: url(../images/frame2.png);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: -12%;
  left: 0;
  height: 400px;
  width: 400px;
}
.coming-soon-container h1 {
  color: #073163;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.coming-soon-container .section-container {
  color: #909090;
  font-size: 1.8rem;
  line-height: 3rem;
}
.coming-soon-time {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  overflow: hidden;
}
.coming-soon-time .coming-soon-time-wrapper {
  color: #1977F3;
  background: #ffffff;
  box-shadow: 0 0 16px rgba(66, 66, 66, 0.3);
  max-width: 35vw;
  width: 100%;
  padding: 1rem 2rem;
  padding-bottom: 3rem;
  border-radius: 35px;
  z-index: 9;
}
.coming-soon-time .promo-countdown-container {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  /* Removes SVG styling that would hide the time label */
  /* The SVG path that displays the timer's progress */
}
.coming-soon-time .promo-countdown-container .base-timer {
  position: relative;
  height: 110px;
  width: 110px;
}
.coming-soon-time .promo-countdown-container .base-timer h4 {
  color: #909090;
  font-family: 'Poppins', sans-serif;
  margin-top: 15px;
  font-weight: 400;
  font-size: 1.3rem;
}
.coming-soon-time .promo-countdown-container .base-timer__circle {
  fill: none;
  stroke: none;
}
.coming-soon-time .promo-countdown-container .base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: #97C2F9;
}
.coming-soon-time .promo-countdown-container .base-timer__label {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  color: #073163;
  /* Size should match the parent container */
  width: 110px;
  height: 110px;
  /* Keep the label aligned to the top */
  top: 0px;
  /* Create a flexible box that centers content vertically and horizontally */
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 35px;
  font-weight: 300;
}
.coming-soon-time .promo-countdown-container .base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 10px;
  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;
  /* Makes sure the animation starts at the top of the circle */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  /* One second aligns with the speed of the countdown timer */
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  /* Allows the ring to change color when the color value updates */
  stroke: #1977F3;
}
.coming-soon-time .promo-countdown-container .base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
.mailchimp-form-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.mailchimp-form-container .mailchimp-form-container-wrapper {
  max-width: 38vw;
  width: 100%;
}
.mailchimp-form-container .mailchimp-form-container-wrapper input {
  font-size: 1.2rem;
  height: auto;
  padding: 1rem 1.2rem;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.mailchimp-form-container .mailchimp-form-container-wrapper input:focus {
  box-shadow: none;
}
.mailchimp-form-container .mailchimp-form-container-wrapper .btn-outline-secondary {
  border: 3px solid #1977F3;
  padding: 1rem 2.5rem;
  background: #1977F3;
  color: #ffffff;
  border-radius: 30px !important;
  margin-left: -40px;
  z-index: 9;
}
.mailchimp-form-container .mailchimp-form-container-wrapper .btn-outline-secondary:hover {
  border-color: #073163;
  background: #073163;
}
.thanks-main-class {
  padding: 13vh 1rem !important;
  padding-bottom: 26vh !important;
}
.thanks-main-class h2 {
  font-size: 2rem;
  line-height: 3rem;
}
.thanks-svg {
  max-width: 130px;
  display: block;
  margin: 2rem auto;
  margin-bottom: 1.5rem;
}
.error-thanks-email {
  display: block;
  width: 100%;
  margin-top: 1.1rem;
  font-size: 1.1rem;
  color: #dc3545;
}
.button-thanks-container {
  text-align: center;
  padding: 3rem 1rem;
  color: gray;
}
.button-thanks-container h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}
.button-thanks-container .btn-thanks-action {
  border: 3px solid #073163;
  background: #073163;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border-radius: 0px !important;
  z-index: 9;
}
.button-thanks-container .btn-thanks-action:hover {
  border-color: #1977F3;
  background: #1977F3;
}
.error-input {
  font-size: 1rem;
  font-weight: 600;
}
