// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Raleway', sans-serif;
@secondfont: 'Poppins', sans-serif;
@black: #000000;
@white: #ffffff;
@sgray: #F8F8F8;
@gray: #909090;
@blue: #073163;
@sblue: #1977F3;

/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
    height: calc(100% - 40px);
    scroll-behavior: smooth;
}


@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    background: @white;
    font-family: @mainfont;
    font-weight: 400;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.page-container {
    min-height: 75vh;
}

/* LOADER */
.loader-css {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    padding-top: 1rem;
}

.loader-css:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid @sblue;
    border-color: @sblue transparent @sblue transparent;
    animation: loader-spin 1.2s linear infinite;
}


@keyframes loader-spin {
    0% {
        .transform(rotate(0deg));
    }

    100% {
        .transform(rotate(360deg));
    }
}


/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */

.footer-coming {
    background: @sgray;
    padding: 1rem;
    text-align: center;

    & h5 {
        color: @gray;
        font-size: 0.9rem;
        font-weight: 600;
    }
}

/* --------------------------------------------------------------
3.- COMING SOON
-------------------------------------------------------------- */

.coming-soon-container {
    position: relative;
    background: url(../images/lines.png);
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: calc(100vh - 90px);
    padding: 3rem;
    padding: 10vh 3rem;
    text-align: center;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        background: url(../images/frame1.png);
        background-size: contain;
        background-repeat: no-repeat;
        top: 0;
        right: 0;
        height: 400px;
        width: 400px;
    }

    &:after {
        content: '';
        position: absolute;
        background: url(../images/frame2.png);
        background-size: contain;
        background-repeat: no-repeat;
        bottom: -12%;
        left: 0;
        height: 400px;
        width: 400px;
    }

    & h1 {
        color: @blue;
        font-family: @secondfont;
        font-weight: 800;
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    & .section-container {
        color: @gray;
        font-size: 1.8rem;
        line-height: 3rem;
    }

}

.coming-soon-time {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    overflow: hidden;

    & .coming-soon-time-wrapper {
        color: @sblue;
        background: @white;
        box-shadow: 0 0 16px rgba(66, 66, 66, .3);
        max-width: 35vw;
        width: 100%;
        padding: 1rem 2rem;
        padding-bottom: 3rem;
        border-radius: 35px;
        z-index: 9;
    }

    & .promo-countdown-container {
        padding: 1rem 2rem;
        .display(flex);
        .align-items(center);
        .justify-content(space-between);

        .base-timer {
            position: relative;
            height: 110px;
            width: 110px;

            & h4 {
                color: @gray;
                font-family: @secondfont;
                margin-top: 15px;
                font-weight: 400;
                font-size: 1.3rem;
            }
        }

        /* Removes SVG styling that would hide the time label */
        .base-timer__circle {
            fill: none;
            stroke: none;
        }

        /* The SVG path that displays the timer's progress */
        .base-timer__path-elapsed {
            stroke-width: 7px;
            stroke: #97C2F9;
        }

        .base-timer__label {
            position: absolute;
            font-family: @secondfont;
            color: @blue;
            /* Size should match the parent container */
            width: 110px;
            height: 110px;

            /* Keep the label aligned to the top */
            top: 0px;

            /* Create a flexible box that centers content vertically and horizontally */
            .display(flex);
            .align-items(center);
            .justify-content(center);

            /* Sort of an arbitrary number; adjust to your liking */
            font-size: 35px;
            font-weight: 300;
        }

        .base-timer__path-remaining {
            /* Just as thick as the original ring */
            stroke-width: 10px;

            /* Rounds the line endings to create a seamless circle */
            stroke-linecap: round;

            /* Makes sure the animation starts at the top of the circle */
            .transform(rotate(90deg));
            .transform-origin(center);

            /* One second aligns with the speed of the countdown timer */
            .transition(all 1s linear);

            /* Allows the ring to change color when the color value updates */
            stroke: @sblue;

        }

        .base-timer__svg {
            /* Flips the svg and makes the animation to move left-to-right */
            .transform(scaleX(-1));
        }
    }
}

.mailchimp-form-container {
    .display(flex);
    .align-items(center);
    .justify-content(center);

    .mailchimp-form-container-wrapper {
        max-width: 38vw;
        width: 100%;

        & input {
            font-size: 1.2rem;
            height: auto;
            padding: 1rem 1.2rem;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;

            &:focus {
                box-shadow: none;
            }
        }

        & .btn-outline-secondary {
            border: 3px solid @sblue;
            padding: 1rem 2.5rem;
            background: @sblue;
            color: @white;
            border-radius: 30px !important;
            margin-left: -40px;
            z-index: 9;

            &:hover {
                border-color: @blue;
                background: @blue;
            }
        }
    }
}

.thanks-main-class {
    padding: 13vh 1rem !important;
    padding-bottom: 26vh !important;

    & h2 {
        font-size: 2rem;
        line-height: 3rem;
    }
}

.thanks-svg {
    max-width: 130px;
    display: block;
    margin: 2rem auto;
    margin-bottom: 1.5rem;
}

.error-thanks-email {
    display: block;
    width: 100%;
    margin-top: 1.1rem;
    font-size: 1.1rem;
    color: #dc3545;
}

.button-thanks-container {
    text-align: center;
    padding: 3rem 1rem;
    color: gray;

    & h5 {
        font-family: @secondfont;
        font-size: 1.1rem;
        margin-bottom: 0.8rem;
    }

    & .btn-thanks-action {
        border: 3px solid @blue;
        background: @blue;
        color: @white;
        font-family: @secondfont;
        font-weight: 500;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        letter-spacing: 1px;
        border-radius: 0px !important;
        z-index: 9;

        &:hover {
            border-color: @sblue;
            background: @sblue;
        }
    }
}

.error-input {
    font-size: 1rem;
    font-weight: 600;
}