/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1600px) {
  .coming-soon-time .coming-soon-time-wrapper {
    max-width: 45vw;
  }
  .mailchimp-form-container .mailchimp-form-container-wrapper {
    max-width: 45vw;
  }
  .coming-soon-container {
    padding: 4vh 3rem;
    padding-top: 10vh;
  }
}
@media (max-width: 1440px) {
  .mailchimp-form-container .mailchimp-form-container-wrapper {
    max-width: 50vw;
  }
  .coming-soon-time .coming-soon-time-wrapper {
    max-width: 50vw;
  }
}
@media (max-width: 1366px) {
  .mailchimp-form-container .mailchimp-form-container-wrapper {
    max-width: 53vw;
  }
  .coming-soon-time .coming-soon-time-wrapper {
    max-width: 53vw;
  }
  .coming-soon-container {
    padding: 3vh 3rem;
    padding-top: 6vh;
  }
  .coming-soon-container h1 {
    font-size: 3rem;
    margin-top: 1rem;
  }
  .coming-soon-container .section-container {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
@media (max-width: 1280px) {
  .mailchimp-form-container .mailchimp-form-container-wrapper {
    max-width: 57vw;
  }
  .coming-soon-time .coming-soon-time-wrapper {
    max-width: 57vw;
  }
}
@media (max-width: 1170px) {
  .mailchimp-form-container .mailchimp-form-container-wrapper {
    max-width: 70vw;
  }
  .coming-soon-time .coming-soon-time-wrapper {
    max-width: 70vw;
  }
}
/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
  .coming-soon-container {
    padding: 3vh 3rem;
    padding-top: 15vh;
  }
  .coming-soon-container h1 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .mailchimp-form-container {
    padding-top: 1rem;
  }
  .mailchimp-form-container .mailchimp-form-container-wrapper {
    max-width: 95vw;
  }
  .coming-soon-time .coming-soon-time-wrapper {
    max-width: 95vw;
  }
}
@media (max-width: 768px) {
  .coming-soon-container {
    padding: 1vh 3rem;
    padding-top: 14vh;
  }
}
@media (max-width: 767px) {
  .coming-soon-container {
    padding: 1vh 1rem;
    padding-top: 10vh;
  }
  .coming-soon-container h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .coming-soon-container .section-container {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: black;
  }
  .mailchimp-form-container .mailchimp-form-container-wrapper {
    max-width: 100%;
  }
  .coming-soon-time .coming-soon-time-wrapper {
    max-width: 100%;
  }
  .coming-soon-time {
    padding: 4rem 1rem;
    padding-bottom: 1rem;
    overflow: auto;
  }
  .coming-soon-time .coming-soon-time-wrapper {
    padding: 1rem 0rem;
    padding-bottom: 3rem;
  }
  .coming-soon-time .promo-countdown-container .base-timer__label {
    width: 90px;
    height: 90px;
    top: 0px;
    font-size: 30px;
  }
  .coming-soon-time .promo-countdown-container .base-timer {
    height: 90px;
    width: 90px;
  }
}
/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 600px
-------------------------------------------------------------- */
@media (max-width: 533px) {
  .coming-soon-time .promo-countdown-container .base-timer__label {
    width: 70px;
    height: 70px;
    top: 0px;
    font-size: 25px;
  }
  .coming-soon-time .promo-countdown-container .base-timer {
    height: 70px;
    width: 70px;
  }
  .coming-soon-time .promo-countdown-container .base-timer h4 {
    font-size: 1rem;
  }
  .coming-soon-container .section-container {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .footer-coming h5 {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}
@media (max-width: 424px) {
  .coming-soon-container h1 {
    font-size: 2rem;
  }
  .coming-soon-container .section-container {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .coming-soon-time .promo-countdown-container {
    padding: 1rem 1rem;
  }
  .coming-soon-time {
    padding: 3rem 0.5rem;
    padding-bottom: 1rem;
  }
  .coming-soon-container {
    min-height: calc(100vh - 135px);
  }
}
